.chatBox {
     display: flex;
     flex-direction: column;
     align-items: center;
     background: linear-gradient(135deg, #252b42, #1b2238, #2a3555);
     width: 100%;
     height: 95.5vh;
     overflow: hidden;
     &__inner::-webkit-scrollbar-track {
          background-color: rgb(247, 247, 247);
     }
     &__inner::-webkit-scrollbar-thumb {
          background-color: rgb(60, 7, 160);
     }
     &__inner::-webkit-scrollbar {
          width: 10px;
          max-height: 50px;
     }

     &__itemReply {
          background: rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          justify-content: center;
          margin-right: 10px;
          width: 30%;
          color: white;
          border-left: 6px solid rgb(255, 4, 4);
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 2px;
          word-break: break-all;
          display: flex;
          flex-direction: column;
          transition: background 0.3s ease;
          line-height: 15px;
          user-select: none;
          &Name {
               font-size: 15px;
          }
          &Value {
               font-size: 13px;
               color: rgb(255, 255, 255);
          }
     }
     &__itemReply:hover {
          background: #1721798c;
     }
     &__bottomPanel {
          max-height: 100px;
          z-index: 4;
          width: 100%;
          background: linear-gradient(135deg, #252b42, #1b2238, #2a3555);
          position: relative;
          margin-top: auto;
          display: flex;
          margin-bottom: 10px;
          flex-direction: row;
          align-items: center;
          padding: 5px 0px 5px 0px;
          justify-content: center;

          &Reply {
               width: 62.5vw;
               position: absolute;
               background-color: #172179a9;
               left: 160px;
               height: 55px;
               top: -45px;
               display: flex;
               align-items: center;
               justify-content: space-between;
               padding: 0px 5px 0px 5px;
               border-top-right-radius: 20px;
               border-top-left-radius: 20px;
               backdrop-filter: blur(6px);
               animation: openReply 0.333s linear normal;
               border-bottom-right-radius: 20px;
               border-bottom-left-radius: 20px;
               &IconReply {
               }
               @keyframes openReply {
                    0% {
                         height: 0px;
                         opacity: 0;
                         transform: translateY(40px);
                    }
                    50% {
                         opacity: 0.2;
                    }
                    100% {
                         opacity: 1;
                    }
               }

               &Info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    margin-right: auto;
                    margin-left: 20px;
                    &Name {
                         color: white;
                         font-size: 19px;
                         font-weight: 600;
                    }

                    &Value {
                         color: wheat;
                         word-break: break-all;
                    }
               }

               &IconClose {
                    align-self: flex-start;
                    border-radius: 12px;
                    transition: background-color 0.5s ease;
               }
               &IconClose:hover {
                    background-color: rgba(245, 245, 245, 0.358);
               }
          }
     }
     &__bottomPanelFile {
          width: 55px;
          height: 50px;
          margin-left: 10px;
          border-radius: 10px;
          background: url("../../public/icons/email.png") no-repeat top / cover;
          margin-bottom: 35px;
     }

     &__bottomPanelFile:hover {
          background-color: #a0a0aa2a;
          border-radius: 1px;
          border-radius: 15px;
     }

     &__bottomPanelFile:active {
          background-color: #ffffff2a;
          border-radius: 1px;
          border-radius: 5px;
     }
     &__bottomPanelSmile {
          width: 55px;
          height: 50px;
          background: url("../../public/icons/pngleaf.com-48567.png") no-repeat center / cover;
          background-size: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          margin-left: 10px;
          align-self: center;
          margin-bottom: 35px;
          margin-right: 10px;
     }
     &__bottomPanelShareVideo {
          width: 55px;
          height: 50px;
          background: url("../../public/icons/youTube.png") no-repeat right / cover;
          background-size: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          margin-left: 0px;
          align-self: center;
          margin-bottom: 35px;
          margin-right: 10px;
     }
     &__bottomPanelShareVideo:hover {
          background-color: #a0a0aa2a;
          border-radius: 1px;
          border-radius: 15px;
     }

     &__bottomPanelShareVideo:active {
          background-color: #ffffff2a;
          border-radius: 1px;
          border-radius: 5px;
     }
     &__bottomPanelText {
          width: 85%;
          height: 9vh;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          font-size: 21px;
          overflow: hidden;
          resize: none;
          margin-bottom: 5px;
          word-wrap: break-word;

          padding-left: 15px;
     }

     &__bottomPanelText:focus {
          outline: none;
     }

     &__bottomPanelText::placeholder {
          font-size: 20px;
          padding: 100px 0px 0px 20px;
     }

     &__bottomPanelSendBtn {
          width: 55px;
          height: 50px;
          margin-left: 1%;
          margin-right: 1%;
          border-radius: 20%;
          background: url("../../public/icons/send.png") no-repeat center / cover;
          margin-bottom: 35px;
     }
     &__bottomPanelSendBtn:hover {
          background-color: #a0a0aa2a;
          border-radius: 1px;
          border-radius: 15px;
     }
     &__bottomPanelSmile:hover {
          background-color: #a0a0aa2a;
          border-radius: 1px;
          border-radius: 15px;
     }
     &__bottomPanelSendBtn:active {
          background-color: #0707ff2a;
          border-radius: 1px;
          border-radius: 15px;
     }

     &__inner {
          width: 100%;
          min-height: 69vh;
          overflow-y: auto;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 30px;
          margin-top: 10px;
          margin-left: 20px;
     }
     &__item:hover {
          background-color: #524f4f;
     }

     &__nullMessage {
          background-color: #ffffff;
          width: 160px;
          height: 20px;
          margin-left: 35vw;
          margin-top: 35vh;
          text-align: center;
          border-radius: 10px;
          user-select: none;
     }

     &__item {
          min-height: 50px;
          max-width: 40vw;
          background: white;
          overflow: hidden;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px 45px 8px 8px;
          border-top-right-radius: 20px;
          border-top-left-radius: 20px;
          border-bottom-right-radius: 20px;
          flex-shrink: 0;
          transition: all 0.5s ease normal;
          &YouTube {
               margin-left: 300px;
               width: 19vw;
               height: 300px;
               background-color: #bbbed1;
               transform: perspective(770px) rotateY(20deg) scale(0.9) rotateX(10deg);
               border-radius: 10px;
               opacity: 0.8;
               transition: 0.6s ease all;
               display: flex;
               align-items: center;
               justify-content: center;
          }

          &YouTube:hover {
               transform: perspective(800px) rotateY(-15deg) translateY(-20px) rotateX(10deg)
                    scale(1.1);
               filter: blur(0);
               opacity: 1;
          }

          &RightInfo {
               width: 10%;
               display: flex;
               flex-direction: column;
               justify-content: flex-end;
               align-items: center;
               gap: 0px;
               margin-left: auto;

               padding-right: 10px;
               margin-bottom: 10px;

               &CheckChannel {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #1219592c;
                    border-radius: 5px;
                    width: 40px;
                    &Value {
                         margin-left: 3px;
                         font-size: 15px;
                    }
               }
               &Date {
                    margin-right: -10px;
               }
          }

          &LeftInfo {
               width: 90%;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               gap: 0px;
               margin-right: auto;
               margin-left: -10px;
          }
          &Value {
               align-self: flex-end;
               margin-right: auto;
               font-weight: 600;
               margin-left: 20px;
               min-width: 10vw;

               word-break: break-all;
               line-height: 25px;
               user-select: text;
          }
          &Value::selection {
               background-color: rgb(255, 0, 221);
          }
          &Author {
               color: rgb(165, 167, 167);
               align-self: flex-start;
               margin-left: 15px;
               margin-bottom: 10px;

               height: 10px;
          }

          &Like {
               user-select: none;

               text-align: center;
               display: flex;
               flex-direction: row;
               justify-content: center;
               align-items: center;

               margin-left: auto;
          }
     }
     &__itemRightInfoDate {
          margin-right: 3px;
     }
     &__itemRightInfoCheck {
          width: 30px;
          height: 10px;
          border-radius: 3px;
     }
     &__inner::-webkit-scrollbar-track {
          background-color: rgba(247, 247, 247, 0);
     }
     &__inner::-webkit-scrollbar-thumb {
          background-color: rgba(255, 145, 0, 0);
     }
     &__inner::-webkit-scrollbar {
          width: 10px;
          max-height: 50px;
     }
     &__imagePresentationImg {
          width: 200px;
          height: 120px;
          border: 3px solid rebeccapurple;
          object-position: center;
          object-fit: cover;
     }
     &__imagePresentation {
          width: 220px;
          height: 500px;

          margin-bottom: 400px;

          margin-bottom: auto;
     }
     &__itemImageArray {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: -30px;
          gap: 5px;

          &Item {
               width: 32vw;
               height: 35vh;
               border-top-left-radius: 5px;
               border-bottom-left-radius: 10px;
               border-bottom-right-radius: 10px;
               object-position: center;
               object-fit: cover;
          }
     }
     &__payload {
          display: flex;
          gap: 5px;
          position: absolute;
          top: 75.4vh;
          left: 0vw;
          width: 79.5vw;
          overflow-x: auto;
          flex-wrap: nowrap;
          background-color: #0f20271f;
     }

     &__payload::-webkit-scrollbar-track {
          background-color: rgb(247, 247, 247);
     }
     &__payload::-webkit-scrollbar-thumb {
          background-color: rgb(255, 145, 0);
     }
     &__payload::-webkit-scrollbar {
          width: 10px;
          height: 10px;
     }
     &__stickerMenu {
          position: absolute;
          top: -531px;
          padding: 15px 10px 15px 0px;
          background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);

          left: 1px;
          width: 13vw;
          overflow-y: auto;
          height: 500px;
          border-top-right-radius: 30px;
          backdrop-filter: blur(1.5px);
          border-top-left-radius: 0px;
          display: flex;
          flex-direction: row;
          user-select: none;
          align-items: start;
          justify-content: flex-end;
          flex-wrap: wrap;
          animation: 0.27s sticker linear normal;

          &Item {
               min-width: 20px;
               min-height: 20px;
               font-size: 25px;
               margin-left: 3px;
          }
          &Item:hover {
               background-color: #b4bfc485;
               border-radius: 10px;
          }
     }
     &__stickerMenu::-webkit-scrollbar-track {
          background-color: rgba(247, 247, 247, 0);
          border-radius: 60px;
     }
     &__stickerMenu::-webkit-scrollbar-thumb {
          background-color: rgba(255, 145, 0, 0);
          border-radius: 50px;
          height: 20px;
     }
     &__stickerMenu::-webkit-scrollbar {
          width: 5px;

          height: 8px;
     }

     &__gallery {
          width: 30vw;
          height: 70vh;
          background: #121959;
          position: absolute;
          backdrop-filter: blur(10px);
          top: 5vh;
          left: -32vw;
          display: flex;
          -webkit-backdrop-filter: blur(10px);
          flex-direction: column;
          align-items: space-between;
          justify-content: flex-start;
          border-radius: 10px;
          padding: 5px 15px 0px 15px;
          overflow-y: auto;
          overflow-x: hidden;
          &Header {
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               backdrop-filter: blur(10px);
               border-radius: 10px;
          }
          &Back:hover {
               background-color: #172179;
               border-radius: 10px;
          }
          &Close:hover {
               background-color: #172179;
               border-radius: 10px;
          }
          &Title {
               font-size: 35px;
               color: rgb(255, 255, 254);
          }
          &Inner {
               display: flex;
               flex-direction: row;
               border-radius: 10px;
               flex-wrap: wrap;
               justify-content: flex-start;
               width: 101%;
               gap: 3px;
               backdrop-filter: blur(10px);
               margin-top: 10px;

               &Item {
                    width: 7vw;
                    height: 7vw;
                    object-fit: cover;
                    opacity: 0.7;
                    object-position: center;
                    border: 2px solid white;
                    &Title {
                         align-self: flex-start;
                         font-size: 20px;
                    }
                    &Container {
                         margin-right: auto;
                    }
               }
               &Item:hover {
                    opacity: 1;
               }
          }
     }
     &__contextMenu {
          position: fixed;
          z-index: 15;
          top: 20px;
          left: 30px;
          opacity: 1;
          display: flex;
          flex-direction: column;
          backdrop-filter: blur(2px);
          align-items: flex-start;
          justify-content: center;

          padding: 10px 10px 10px 10px;
          gap: 5px;
          color: rgb(255, 255, 255);
          border-radius: 10px;
          &Delete {
               background: linear-gradient(135deg, #3d476d5e, #28314e5b, #50258150);
               border-bottom: 2px solid grey;
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: flex-start;
               width: 100%;
               color: red;
               border-radius: 5px;
               transition: all 0.5s ease normal;
               &Label {
                    margin-left: 5px;
               }
          }
          &Pin {
               background: linear-gradient(135deg, #3d476d5e, #28314e5b, #50258150);
               border-bottom: 2px solid grey;
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: flex-start;
               width: 100%;
               border-radius: 5px;
               transition: all 1s ease normal;
               &Label {
                    margin-left: 5px;
               }
          }
          &Reply {
               background: linear-gradient(135deg, #3d476d5e, #28314e5b, #50258150);
               border-bottom: 2px solid grey;
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: flex-start;
               width: 100%;
               border-radius: 5px;
               transition: all 1s ease normal;
               &Label {
                    margin-left: 5px;
               }
          }
          &Save {
               background: linear-gradient(135deg, #3d476d5e, #28314e5b, #50258150);
               border-bottom: 2px solid grey;
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: flex-start;
               width: 100%;
               border-radius: 5px;
               transition: all 1s ease normal;
               &Label {
                    margin-left: 5px;
               }
          }
          &Copy {
               background: linear-gradient(135deg, #3d476d5e, #28314e5b, #50258150);
               border-bottom: 2px solid grey;
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: flex-start;
               width: 100%;
               border-radius: 5px;
               transition: all 1s ease normal;
               &Label {
                    margin-left: 5px;
               }
          }
          &Edit {
               border-bottom: 2px solid grey;
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: flex-start;
               width: 100%;
               border-radius: 5px;
               transition: all 1s ease normal;
               &Label {
                    margin-left: 5px;
               }
          }
          &Copy:hover {
               background: #192ee73a;
               border-radius: 10px;
          }
          &Edit:hover {
               background: #192ee73a;
               border-radius: 10px;
          }
          &Delete:hover {
               background: #192ee73a;
               border-radius: 10px;
          }
          &Pin:hover {
               background: #192ee73a;
               border-radius: 10px;
          }
          &Save:hover {
               background: #192ee73a;
               border-radius: 10px;
          }
          &Reply:hover {
               background: #192ee73a;
               border-radius: 10px;
          }
     }

     &__gallery::-webkit-scrollbar {
          width: 7px;
          height: 10px;
     }
     &__gallery::-webkit-scrollbar-thumb {
          background-color: #121959;
     }
     &__gallery::-webkit-scrollbar-track {
          background-color: rgb(255, 255, 255);
     }
}
.insertYVideo {
     position: absolute;
     left: 0px;
     top: -65px;
     width: 60%;
     height: 70px;
     backdrop-filter: blur(5px);
     border-radius: 5px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     &__close {
          border-radius: 10px;
          transition: all 0.5s ease;
          align-self: flex-start;
     }
     &__close:hover {
          background-color: #d0d3eead;
     }
     &__text {
          font-size: 20px;
          font-weight: 700;
     }
     &__input {
          margin-left: 20px;
          width: 80%;
          height: 50px;
          outline: none;
          border: 2px solid rgb(189, 189, 189);
          border-radius: 15px;
          background: rgba(255, 255, 255, 0.664);
          font-size: 17px;
     }
     &__sendBtn {
          width: 50px;
          height: 50px;
          margin-left: 10px;
          margin-right: 5px;
          align-self: center;
          transition: all 0.5s ease;
          border-radius: 20%;
          background: url("../../public/icons/send.png") no-repeat center / cover;
     }
     &__sendBtn:hover {
          background-color: #a0a0aa2a;
          border-radius: 1px;
          border-radius: 15px;
     }
}

@keyframes sticker {
     0% {
          width: 4vw;
     }
     50% {
          width: 9vw;
     }
     100% {
          width: 12vw;
     }
}
.youTubeVideo {
     position: fixed;
     top: 100px;
     left: 15vw;
     width: 1000px;
     height: 510px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     padding-left: 10px;
     color: rgba(0, 0, 0, 0.5);
     text-decoration: none;
     font-weight: bold;
     text-shadow: 1px 1px 0 #ffffff;
     box-shadow: 2px 2px 0.5em rgba(122, 122, 122, 0.55), inset 1px 1px 0 rgba(255, 255, 255, 0.9),
          inset -1px -1px 0 rgba(0, 0, 0, 0.34);
     border: 1px solid #dedede;
     background: -moz-linear-gradient(
          -72deg,
          #dedede,
          #ffffff 16%,
          #dedede 21%,
          #ffffff 24%,
          #454545 27%,
          #dedede 36%,
          #ffffff 45%,
          #8b8a8a 60%,
          #dedede 72%,
          #ffffff 80%,
          #dedede 84%,
          #a1a1a1
     );
     background: -webkit-linear-gradient(
          -72deg,
          #7c7b7b,
          #ffffff 16%,
          #dedede 21%,
          #ffffff 24%,
          #454545 27%,
          #dedede 36%,
          #b1a9a9 45%,
          #ffffff 60%,
          #dedede 72%,
          #ffffff 80%,
          #dedede 84%,
          #a1a1a1
     );
     background: -o-linear-gradient(
          -72deg,
          #dedede,
          #ffffff 16%,
          #dedede 21%,
          #ffffff 24%,
          #454545 27%,
          #dedede 36%,
          #ffffff 45%,
          #ffffff 60%,
          #dedede 72%,
          #ffffff 80%,
          #dedede 84%,
          #a1a1a1
     );
     background: linear-gradient(
          -72deg,
          #dedede,
          #9c9b9b 16%,
          #dedede 21%,
          #ffffff 24%,
          #454545 27%,
          #dedede 36%,
          #ffffff 45%,
          #634b4b 60%,
          #dedede 72%,
          #a79b9b 80%,
          #dedede 84%,
          #c0bbbb
     );

     border-radius: 15px;
     &__closeBtn {
          width: 50px;
          height: 50px;
          margin: 0px 5px 0px 5px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ffffff;
     }
     &__closeBtn:hover {
          background-color: rgb(173, 169, 169);
     }
}
