.createNewWindow {
     width: 30%;
     position: absolute;
     left: 35%;
     top: 35vh;
     height: 200px;
     display: flex;
     backdrop-filter: blur(4px);
     flex-direction: column;
     align-items: start;
     border-radius: 15px;
     justify-content: start;
     padding: 10px 10px 10px 10px;
     box-shadow: 20px 20px 1000px 10px white;
     &__header {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          margin-left: 10px;
          margin-top: 5px;

          position: relative;
          &Img {
               width: 100px;
               height: 100px;
               object-fit: cover;
               object-position: center;
               border-radius: 50%;
               border: 2px dashed grey;
          }
          &AddIcon {
               position: absolute;
               top: 30px;
               left: 30px;
               border-radius: 10px;
               transition: background-color 0.5s ease;
          }
          &AddIcon:hover {
               background-color: #16161665;
          }
     }

     &__infoTitle {
          display: flex;
          flex-direction: column;
          margin-left: 25px;

          &Label {
               font-size: 25px;
               color: #fcfcff;
               font-weight: 700;
          }

          &Input {
               background: transparent;
               outline: none;
               border: none;
               border-bottom: 3px solid rgb(181, 181, 185);
               height: 17px;
               width: 70%;
               color: #1100ff;
               font-weight: 900;
               font-size: 16px;
               font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif sans-serif;
          }
     }

     &__description {
          background: transparent;
          outline: none;
          border: none;
          border-bottom: 3px solid rgb(181, 181, 185);
          height: 17px;
          width: 50%;
          margin-top: 20px;
          margin-left: 10px;
          color: #1100ff;
          font-weight: 900;
          font-size: 16px;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif sans-serif;
     }

     &__btns {
          margin-top: auto;
          align-self: flex-end;
          margin-right: 10px;
          display: flex;
          gap: 10px;
          &Cancel {
               font-size: 22px;
               border: none;
               background: transparent;
               color: #fdfdfd;
               font-weight: 600;
               transition: color 0.2s ease-out;
               transition: background 0.2s ease-out;
               font-size: 25px;
               border-radius: 15px;
          }

          &Acess {
               font-size: 22px;
               border: none;
               background: transparent;
               color: #fdfdfd;
               font-weight: 600;
               font-size: 25px;
               border-radius: 15px;
          }
          &Cancel:hover {
               color: #000000;
               background: #ffffff81;
          }

          &Acess:hover {
               color: #000000;
               background: #d4cccc81;
          }
     }
}
